<!DOCTYPE html>
<html lang="en">
<head>
    {{> headerlinks }}
    <title>About us</title>
</head>
<body>
    {{> navbar }}

    <!-----------------main-------------------->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure>
                        <img src="img/404error.png" alt="weather" class="img-fluid img404" title="Weather App">
                    </figure>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go to Home page</button></a>
                </div>
            </div>
          </div>
      </div>
    </div>

    <!-----------------footer-------------------->
    {{> footer }}
</body>
</html>