<!DOCTYPE html>
<html lang="en">
<head>
    {{> headerlinks }}
    <title>About us</title>
</head>
<body>
    {{> navbar }}

    <!-----------------main-------------------->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="img/summer.png" alt="weather" class="img-fluid" title="Weather App">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a <span class="text-clr">MERN Stack</span> Developer</h1>
                    <a href="/weather"><button>about me</button></a>
                </div>
            </div>
          </div>
      </div>
    </div>

    <!-----------------footer-------------------->
    {{> footer }}
</body>
</html>